<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b class="isologo">PF</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Pronet</b>Frontend</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right MenuModel -->
<!--        <div class="navbar-custom-menu">-->
<!--            <ul class="nav navbar-nav">-->
<!--                &lt;!&ndash; UsuarioModel Account: style can be found in dropdown.less &ndash;&gt;-->
<!--                <li class="dropdown user user-menu">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        <img src="assets/images/blank-profile-picture.png"-->
<!--                             class="user-image"-->
<!--                             alt="Usuario Image">-->
<!--                        <span class="hidden-xs">{{usuarioModel.email}}</span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        &lt;!&ndash; UsuarioModel image &ndash;&gt;-->
<!--                        <li class="user-header clearfix">-->
<!--                            <img src="assets/images/blank-profile-picture.png"-->
<!--                                 class="img-circle pull-left"-->
<!--                                 alt="Usuario Image">-->

<!--                            <h3 class="text-left" style="margin-top: 0;">-->
<!--                                {{usuarioModel.email}}-->
<!--                                &lt;!&ndash; <small>{{user.email}}</small> &ndash;&gt;-->
<!--                                &lt;!&ndash;<small>{{direccionGeneral}}</small>&ndash;&gt;-->
<!--                                &lt;!&ndash;<small>{{direccion}}</small>&ndash;&gt;-->
<!--                                &lt;!&ndash; <small>{{user.departamento}}</small>-->
<!--                                <small>{{user.unidad}}</small> &ndash;&gt;-->
<!--                            </h3>-->
<!--                        </li>-->
<!--                        <li class="user-body">-->
<!--                            <small><a href="mailto:{{usuarioModel.email}}">{{usuarioModel.email}}</a></small>-->
<!--                            &lt;!&ndash;<br>&ndash;&gt;-->
<!--                            &lt;!&ndash;<small>{{usuarioModel.departamento}}</small>&ndash;&gt;-->
<!--                            &lt;!&ndash;<br>&ndash;&gt;-->
<!--                            &lt;!&ndash;<small>{{usuarioModel.unidad}}</small>&ndash;&gt;-->
<!--                        </li>-->
<!--                        &lt;!&ndash; MenuModel Footer&ndash;&gt;-->
<!--                        <li class="user-footer">-->
<!--                            <div class="pull-left">-->
<!--                                <a href="#" class="btn btn-default">Perfil</a>-->
<!--                            </div>-->
<!--                            <div class="pull-right">-->
<!--                                <a (click)="logout()" class="btn btn-primary">Salir</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </nav>
</header>
