<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>
<section class="content">

  <div class="box">
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row" style="padding-bottom: 5px">
          <div class="col-sm-6">
            <button class="btn btn-primary float-left"
                    [routerLink]="['/transacciones/form']"
                    title="Agregar nuevo"
                    style="margin-right: 5px">
              <i class="fa fa-plus"></i>
              Nueva Transacción
            </button>
          </div>
          <div class="col-sm-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" *ngIf="transacciones?.length > 0">
              <thead>
              <tr role="row">
                <th (click)="sortingPage('id')"
                    [ngClass]="setClasses('id')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending"
                    aria-label="Id: activate to sort column descending">Id
                </th>
                <th (click)="sortingPage('fecha')"
                    [ngClass]="setClasses('fecha')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Fecha: activate to sort column ascending">Fecha
                </th>
                <th (click)="sortingPage('importe')"
                    [ngClass]="setClasses('importe')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Importe: activate to sort column ascending">Importe
                </th>
                <th (click)="sortingPage('comision')"
                    [ngClass]="setClasses('comision')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Comisión: activate to sort column ascending">Comisión
                </th>
                <th width="20%">
                  Acciones
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="odd" role="row" *ngFor="let transaccion of transacciones; let i=index">
                <td>{{transaccion.id}}</td>
                <td>{{transaccion.fecha | date:"dd/MM/yyyy"}}</td>
                <td>{{transaccion.importe }}</td>
                <td>{{transaccion.comision }}</td>
                <td class="text-right">
                  <button [routerLink]="['/transacciones/form', transaccion.id]"
                          type="button"
                          class="btn btn-sm btn-light"
                          title="Editar"
                          style="margin-right: 5px">
                    <i class="fa fa-pencil"></i>
                    Editar
                  </button>
                  <button type="button"
                          class="btn btn-sm btn-danger"
                          title="Eliminar"
                          (click)='delete(transaccion)'
                          style="margin-right: 5px">
                    <i class="fa fa-eye"></i>
                    Eliminar
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
