<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!--    <div class="user-panel">-->
    <!--      <div class="pull-left image">-->
    <!--        <img src="assets/images/blank-profile-picture.png" class="img-circle" alt="Usuario Image">-->
    <!--      </div>-->
    <!--      <div class="pull-left info">-->
    <!--        <p>{{usuarioModel.email}}</p>-->
    <!--        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
    <!--      </div>-->
    <!--    </div>-->
    <ul class="sidebar-menu" data-widget="tree">
      <li><a routerLink="/clientes"><i class="fa fa-users"></i> <span>Clientes</span></a></li>
      <li><a routerLink="/deudas"><i class="fa fa-money" aria-hidden="true"></i> <span>Deudas</span></a>
      <li><a routerLink="/servicios"><i class="fa fa-list-alt" aria-hidden="true"></i> <span>Servicios</span></a></li>
      <li><a routerLink="/transacciones"><i class="fa fa-exchange" aria-hidden="true"></i>
        <span>Transacciones</span></a></li>

<!--      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>-->
<!--      <li><a routerLink="/prestamos"><i class="fa fa-money" aria-hidden="true"></i> <span>Prestamos</span></a>-->
<!--      <li><a routerLink="/ahorros"><i class="fa fa-money" aria-hidden="true"></i> <span>Ahorros</span></a>-->
<!--      <li><a routerLink="/tarjetas"><i class="fa fa-money" aria-hidden="true"></i> <span>Tarjetas</span></a>-->
<!--      <li><a routerLink="/movimientos"><i class="fa fa-money" aria-hidden="true"></i> <span>Movimientos</span></a>-->
<!--      <li><a routerLink="/presupuestos"><i class="fa fa-money" aria-hidden="true"></i> <span>Presupuestos</span></a>-->
<!--      <li><a routerLink="/tipos-ahorros"><i class="fa fa-money" aria-hidden="true"></i><span>Tipos de Ahorros</span></a>-->
<!--      </li>-->
<!--      <li><a routerLink="/tipos-cobros"><i class="fa fa-money" aria-hidden="true"></i> <span>Tipos de Cobros</span></a>-->
<!--      <li><a routerLink="/tipos-pagos"><i class="fa fa-money" aria-hidden="true"></i> <span>Tipos de Pagos</span></a>-->
<!--      <li><a routerLink="/entidades-financieras"><i class="fa fa-money" aria-hidden="true"></i> <span>Entidades Financieras</span></a>-->
<!--      <li><a routerLink="/prestamos-pagos"><i class="fa fa-money" aria-hidden="true"></i><span>Prestamos Pagos</span></a></li>-->

      <!--<li class="treeview">-->
      <!--<a href="#">-->
      <!--<i class="fa fa-circle text-success"></i>-->
      <!--<span>Menu1</span>-->
      <!--<span class="pull-right-container">-->
      <!--<i class="fa fa-angle-left pull-right"></i>-->
      <!--</span>-->
      <!--</a>-->
      <!--<ul class="treeview-menu">-->
      <!--<li class="treeview">-->
      <!--<a href="#">-->
      <!--<i class="fa fa-circle-o"></i>-->
      <!--<span>Menu2</span>-->
      <!--<span class="pull-right-container">-->
      <!--<i class="fa fa-angle-left pull-right"></i>-->
      <!--</span>-->
      <!--</a>-->
      <!--<ul class="treeview-menu">-->
      <!--<li>-->
      <!--&lt;!&ndash;<a routerLink="{{menuNivel3.routerlink}}">&ndash;&gt;-->
      <!--<a href="#">-->
      <!--<i class="fa fa-toggle-right"></i>Menu3 </a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->
    </ul>
  </section>
  <!-- /.sidebar -->
  <!--  <div class="logo-left-inf"><img src="/assets/images/fuentepy-transp-lightcase.png"></div>-->
</aside>
