<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tablero de Instrumentos
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Tablero de Instrumentos</li>
    </ol>
    <br>
    <div class="box box-primary">
        <form class="form-inline" #fechasForm="ngForm">
            <div class="box-body">
                <div class="form-group mb10 clearfix" style="padding-right: 10px">
                    <label for="fechaDesde" style="padding-right: 10px">Fecha desde: </label>
                    <input id="fechaDesde"
                           type="date"
                           class="form-control"
                           [ngModel]="fechaDesde | date:'yyyy-MM-dd'"
                           [ngModelOptions]="{standalone: true}"
                           (ngModelChange)="fechaDesde = $event">
                </div>
                <div class="form-group mb10 clearfix" style="padding-right: 10px">
                    <label for="fechaHasta" style="padding-right: 10px">Fecha hasta: </label>
                    <input id="fechaHasta"
                           type="date"
                           class="form-control"
                           [ngModel]="fechaHasta | date:'yyyy-MM-dd'"
                           [ngModelOptions]="{standalone: true}"
                           (ngModelChange)="fechaHasta = $event">
                </div>
                <button type="submit"
                        class="btn btn-default"
                        (click)="consultarMovimiento()">Consultar
                </button>
            </div>
        </form>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>Movimientos</h3>
                    <p>Ingresos: {{dashboardModel.totalIngresos}}</p>
                    <p>Egresos: {{dashboardModel.totalEgresos}}</p>
                    <p>Saldo: {{dashboardModel.saldoIngresosEgresos}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['/movimientos']" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>Prestamos</h3>
                    <p>Cantidad: {{dashboardModel.cantidadPrestamos}}</p>
                    <p>Saldo Total: {{dashboardModel.saldoTotalPrestamos}}</p>
                    <p>Total cuotas: {{dashboardModel.totalCuotasMontoPrestamos}}</p>
                    <p>Proximo Vencimiento: {{dashboardModel.proximoVencimientoPrestamos | date:'yyyy-MM-dd'}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a [routerLink]="['/prestamos']" class="small-box-footer">Ver <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-light-blue-gradient">
                <div class="inner">
                    <h3>Tarjetas</h3>
                    <p>Cantidad: {{dashboardModel.cantidadTarjetas}}</p>
                    <p>Deuda total: </p>
                    <p>Linea: {{dashboardModel.totalLineaTarjetas}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a [routerLink]="['/tarjetas']" class="small-box-footer">Ver <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Ahorros</h3>
                    <p>Cantidad: {{dashboardModel.cantidadAhorros}}</p>
                    <p>Monto Interes: {{dashboardModel.totalMontoInteresAhorros}}</p>
                    <p>Total Monto Capital: {{dashboardModel.totalMontoCapitalAhorros}}</p>
                    <p>Proximo Vencimiento: {{dashboardModel.proximoVencimientoAhorros | date:'yyyy-MM-dd'}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a [routerLink]="['/ahorros']" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

</section>
