<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>
<section class="content">

  <div class="box">
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row" style="padding-bottom: 5px">
          <div class="col-sm-6">
            <button class="btn btn-primary float-left"
                    [routerLink]="['/deudas/form']"
                    title="Agregar nuevo"
                    style="margin-right: 5px">
              <i class="fa fa-plus"></i>
              Nueva Deuda
            </button>
          </div>
          <div class="col-sm-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm"
                       placeholder=""
                       aria-controls="example1"
                       type="search"
                       [(ngModel)]="inputDeBuscar"
                       (keyup.enter)="buscar()">
              </label>
            </div>
          </div>
        </div>
        <!--        {{inputDeBuscar | json}}-->
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" *ngIf="deudas?.length > 0">
              <thead>
              <tr role="row">
                <th (click)="sortingPage('servicioId')"
                    [ngClass]="setClasses('servicioId')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending"
                    aria-label="Servicio Id: activate to sort column descending">Servicio Id
                </th>
                <th (click)="sortingPage('factura')"
                    [ngClass]="setClasses('factura')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending"
                    aria-label="Factura: activate to sort column descending">Factura
                </th>
                <th (click)="sortingPage('vencimiento')"
                    [ngClass]="setClasses('vencimiento')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending"
                    aria-label="Vencimiento: activate to sort column descending">Vencimiento
                </th>
                <th (click)="sortingPage('estado')"
                    [ngClass]="setClasses('estado')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Estado: activate to sort column ascending">Estado
                </th>
                <th (click)="sortingPage('cliente')"
                    [ngClass]="setClasses('cliente')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Cliente: activate to sort column ascending">Cliente
                </th>
                <th (click)="sortingPage('servicio.descripcion')"
                    [ngClass]="setClasses('servicio.descripcion')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Servicio: activate to sort column ascending">Servicio
                </th>
                <th width="20%">
                  Acciones
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="odd" role="row" *ngFor="let deuda of deudas; let i=index">
                <td>{{deuda.servicio_id}}</td>
                <td>{{deuda.factura}}</td>
                <td>{{deuda.vencimiento | date:"dd/MM/yyyy"}}</td>
                <td>{{deuda.estado}}</td>
                <td>{{deuda.cliente.nombre_completo}}</td>
                <td>{{deuda.servicio.descripcion}}</td>
                <td class="text-right">
                  <!--                  <button *ngIf="authService.hasRole('ROLE_ADMIN')"-->
                  <!--                          [routerLink]="['/prestamos/pagar', prestamo.id]"-->
                  <!--                          type="button"-->
                  <!--                          class="btn btn-sm btn-success"-->
                  <!--                          title="Realizar Pago"-->
                  <!--                          style="margin-right: 5px">-->
                  <!--                    <i class="fa fa-money"></i>-->
                  <!--                  </button>-->
                  <button [routerLink]="['/deudas/detalles', deuda.servicio_id]"
                          type="button"
                          class="btn btn-sm btn-info"
                          title="Ver Detalles"
                          style="margin-right: 5px">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button [routerLink]="['/deudas/form', deuda.servicio_id]"
                          type="button"
                          class="btn btn-sm btn-warning"
                          title="Editar"
                          style="margin-right: 5px">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button type="button"
                          class="btn btn-sm btn-danger"
                          title="Eliminar"
                          (click)='delete(deuda)'
                          style="margin-right: 5px">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
